.wellbeing-card {
    margin: 10px;
}

.wellbeing-card-content {
    height: 120px;
    border: 1px solid #2B2F3A;
    color: #2B2F3A;
    padding: 15px;
    transition: 0.2s ease-in-out;
}

.wellbeing-card-content:hover {
    background-color: #BFBFCC;
}

.wellbeing-card-name {
    font-size: 1.25em;
}

.wellbeing-card-phone {
    font-size: 1em;
    transition: transform 0.3s ease-in-out;
}

.wellbeing-card-phone:hover {
    transform: scale(1.1) translate(15px, 0px);
}

.wellbeing-card-room {
    font-weight: normal;
    font-size: 1em;
}