.academic-card {
    margin: 10px;
}

.academic-card-content {
    border: 1px solid #2B2F3A;
    color: #2B2F3A;
    padding: 15px;
    transition: 0.2s ease-in-out;
}

.academic-card-content:hover {
    background-color: #BFBFCC;
}

.academic-position {
    font-weight: normal;
    font-size: 1em;
}

.academic-card-name {
    font-size: 1.25em;
}

.academic-contact {
    text-decoration: none;
    color: #2B2F3A;
}

.academic-contact-email {
    font-size: 1em;
    transition: transform 0.3s ease-in-out;
}

.academic-card-major {
    font-size: 1em;
    font-weight: normal;
}

.academic-contact-email:hover {
    transform: scale(1.1) translate(15px, 0px);
}

.academic-subjects {
    font-size: 1em;
    font-weight: normal;
}