.equipment-request-page {
    padding-top: 5%;
    padding-bottom: 5%;
}

.tech-request {
    border: 1px solid #2B2F3A;
    color: #2B2F3A;
    text-align: center;
}

.tech-request-link {
    color: #2B2F3A;
    transition: color 0.3s ease-in-out;
}

.tech-request-link:hover {
    color: #BFBFCC;
}